    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('./images/carousel01.jpg')">
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h3>Çatı Üzeri Güneş Panelleri</h3>
              <p>Güneş Enerjisi ile Ücretsiz Elektrik Kullanan Doğa Dostu Binalar</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('./images/carousel02.jpg')">
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h3>Otopark Üzeri Güneş Panelleri</h3>
              <p>Elektrik Enerjisi Üreten Otoparklar.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('./images/carousel03.jpg')">
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h3>Rüzgar Türbinleri</h3>
              <p>Her ölçekte Rüzgar Türbin projeleri.</p>
            </div>
          </div>
		   <!-- Slide Four - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('./images/carousel04.jpg')">
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h3>Tarımsal çatı veya yer tipi Güneş Panelleri uygulamaları.</h3>
              <p>Kendi enerjisi üreten ve satan çiftlikler.</p>
            </div>
          </div>
		            <!-- Slide Five - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('./images/carousel05.jpg')">
            <div class="carousel-caption d-none d-md-block carousel-text">
              <h3>Danışmanlık, Tedarik, Projelendirme</h3>
              <p>Her türlü Yenilenebilir Enerji projeleriniz için profesyonel çözümler..</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
