    <!-- Page Content -->
    <div class="container">

      {{ partial "breadcrumb.html" . }}

      <h2><p>{{$.Param "englishcontent-p1"}}</p></h2>
      <p>After its constitution in 2005, DengeSolar actively operated in Renewable Energy projects in Turkey, Middle East and Africa.</p>


      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Renewable Energy Projects</h4>
            <div class="card-body">
              <p class="card-text">We create solutions under the following activities
                <ul>
                  <li>Location selection, feasibility preparation</li>
                  <li>Design and approval of technical documents</li>
                  <li>Technical support for financial applications</li>
                  <li>Application for local government permissions</li>
                  <li>EPC activities</li>
                  <li>Due-diligence and approvals</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
              <a href="/contact/" class="btn btn-primary">Contact Us for More Info</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Engineering</h4>
            <div class="card-body">
              <p class="card-text">We provide the following technical services
                <ul>
                  <li>Static and Dynamic Load Calculations</li>
                  <li>Mechanical Design with Safety Factors</li>
                  <li>Verification of Design by FEA Methodology</li>
                  <li>Preperation of Shop Drawings</li>
                  <li>Supervising of Manufacturing</li>
                  <li>Electrical and COntrol Systems Design</li>
                  <li>Procurement and Installation</li>
                </ul>
                in Energy, Mechanical, Electrical and Robotic Projects.
              </p>
            </div>
            <div class="card-footer">
              <a href="/contact/" class="btn btn-primary">Contact Us for More Info</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Software and Electronics Development</h4>
            <div class="card-body">
              <p class="card-text">We provide the following technology services
                <ul>
                  <li>Design and Implementation of SCADA Automation Systems</li>
                  <li>Switchboard and Sensor Systems Design and Manufacturing</li>
                  <li>Database, Datastore Design and Integration</li>
                  <li>Analysis, Monitoring and Reporting of Systems Data</li>
                  <li>Integration with the Existing Corporate Database Systems</li>
                </ul>
                and Much More.
              </p>
            </div>
            <div class="card-footer">
              <a href="/contact/" class="btn btn-primary">Contact Us for More Info</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->
