    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">DengeSolar - Yenilenebilir Enerji Sistemleri</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Güneş Enerjisi</h4>
            <div class="card-body">
              <p class="card-text">
                <ul>
                  <li>Eviniz için Güneş Panelleri</li>
                  <li>İşyeriniz için Güneş Panelleri</li>
                  <li>EPC Güneş Enerji Projeleri</li>
                  <li>Varolan Sistemlerin Bakımı ve İyileştirilmesi</li>
                  <li>Ar-Ge ve Avrupa Birliği Projeleri</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
              <a href="/contact/" class="btn btn-primary">Bilgi</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Rüzgar Enerjisi</h4>
            <div class="card-body">
              <p class="card-text">
                <ul>
                  <li>Ev tipi Rüzgar Türbinleri</li>
                  <li>Şebekeye Bağlı Rüzgar Türbinleri</li>
                  <li>Rüzgar Enerji Çiftlikleri</li>
                  <li>Varolan Sistemlerin Bakımı ve İyileştirilmesi</li>
                  <li>Ar-Ge ve Avrupa Birliği Projeleri</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
              <a href="/contact/" class="btn btn-primary">Bilgi</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Otomasyon ve Yazılım</h4>
            <div class="card-body">
              <p class="card-text">
                <ul>
                  <li>Yenilenebilir Enerji SCADA Sistemleri</li>
                  <li>Siemens PLC Otomasyon Uygulamaları</li>
                  <li>Veri Toplama, Raporlama</li>
                  <li>Big Data Analiz, R ile İstatistiksel İşlemler</li>
                  <li>Veri gösterim, Online Chart ve Çizelge Sistemleri</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
              <a href="/contact/" class="btn btn-primary">Bilgi</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section *************************
      <h2>Portfolio Heading</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project One</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Yenilenebilir Enerji ve Otomasyon Projelerinizde </h2>
        <!--  <p>The Modern Business template by Start Bootstrap includes:</p> -->
          <ul>
            <li>Proje Tasarım, Fizibilite</li>
            <li>Mühendislik, Tasarım ve Analiz</li>
            <li>Lisans Başvuru İşlemleri</li>
            <li>Malzeme ve Ekipman Seçimi</li>
            <li>Montaj ve Üretim Aşamaları</li>
            <li>Şebeke Entegrasyon ve Kabul İşlemleri</li>
          </ul>
          <p>konularında ve daha bir çok alanda faaliyet gösteriyoruz.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="/images/solar-installation.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>{{ $.Site.Params.contactustext }}</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="/contact/">Bize Ulaşın</a>
        </div>
      </div>

    </div>
    <!-- /.container -->
