  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119064833-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119064833-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta name="author" content="{{if .IsHome}}{{ $.Site.Params.author }}{{else}}{{$.Param "author"}}{{end}}">
    <title>{{ .Title }}</title>
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/modern-business.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "http://www.dengesolar.com",
          "logo": "http://www.dengesolar.com/images/dslogolarge.png",
          "name": "DengeSolar Yenilenebilir Enerji Sistemleri",
          "sameAs": [
                      "https://www.facebook.com/DengeSolar/",
                      "https://twitter.com/solardenge",
                      "https://www.linkedin.com/company/dengesolar/"
                    ],
          "contactPoint": {
            "@type": "ContactPoint",
            "email": "info@dengesolar.com",
            "telephone": "+90-312-820-5560",
            "contactType": "Customer service"
          }
        }
     </script>
  </head>
