<!-- Page Content -->
<div class="container">

  {{ partial "breadcrumb.html" . }}

  <!-- Image Header -->
  <img class="img-fluid rounded mb-4" src="/images/services.png" alt="Hizmetlerimiz">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Proje Yürütme</h4>
        <div class="card-body">
          <p class="card-text">Yenilenebilir Enerji Projelerinin aşamaları arasında yer alan
            <ul>
              <li>Uygun yer seçimi, fizibilite hazırlanması</li>
              <li>Projelerin hazırlanması ve onayı</li>
              <li>Banka kredisi işlemleri</li>
              <li>Gerekli izinlerin alınması</li>
              <li>Satınalma ve montajın yapılması</li>
              <li>Geçici ve kesin kabul işlemlerinin yapılması</li>
            </ul>
            işlemlerinin kaliteli ve zamanında geçekleştirilmesi.
          </p>
        </div>
        <div class="card-footer">
          <a href="/contact/" class="btn btn-primary">Daha Fazla Bilgi</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Mühendislik</h4>
        <div class="card-body">
          <p class="card-text">Enerji, Mekanik ve Robotik Projeleri Kapsamında
            <ul>
              <li>Statik ve Dinamik Yük Hesapları Yapılması</li>
              <li>Yüklere Göre Mekanik Tasarım Yapılması</li>
              <li>Sonlu Eleman Analiz Yöntemleri ile Analizin İyileştirilmesi</li>
              <li>Üretim Projelerinin Hazırlanması</li>
              <li>Üretiminin Yaptırılması ve Kontrolü</li>
              <li>Elektrik ve Kontrol Sistemi Tasarımı</li>
              <li>Malzeme Seçimi, Satınalma ve Yerinde Montaj</li>
            </ul>
            konularında uzman ekibimizle çözüm üretiyoruz.
          </p>
        </div>
        <div class="card-footer">
          <a href="/contact/" class="btn btn-primary">Daha Fazla Bilgi</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Yazılım</h4>
        <div class="card-body">
          <p class="card-text">Kurumsal Endüstriyel Projeler İçerisinde
            <ul>
              <li>SCADA Otomasyon Sistemlerinin Tasarımı</li>
              <li>Otomasyon Sistem Panolarının Projelendirilmesi ve Üretimi</li>
              <li>Veritabanı (Database) Tasarımı ve Kurulumu</li>
              <li>Saklanan verinin analizi, raporlanması, izlenmesi</li>
              <li>Gerekiyorsa mevcut sistemlere entegrasyonun yapılması</li>
            </ul>
            süreçlerinin tasarlanması ve tamamlanması.
          </p>
        </div>
        <div class="card-footer">
          <a href="/contact/" class="btn btn-primary">Daha Fazla Bilgi</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
